body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    padding:1rem 0;
    text-align:center;
    width:275px;
    background-color:hsl(216, 50%, 16%);
    border-radius:15px;

}
.container img{
    height:250px;
    width:250px;
    border-radius:8px;
    text-align: center;

}
div h1{
    margin-right:6rem;
    color:white;
    font-size:18px;
    font-weight:600;
    
}
div p{
    padding-left:17px;
    color:hsl(215, 51%, 70%);
    font: size 15px;
    text-align:left;
    padding-right:1rem;
}
 #icon{
     background-repeat: no-repeat;
        text-align:20px left;
    padding-left:1rem;
    color:cyan;
    margin-left:15px;
}
#none{
    display:flex;
justify-content:space-between;
padding: 0 11px;
}
.left,.right{
    display: flex;
    align-items: center;
}

.left img, .right img{
    height: 15px;
    width:10px;
    padding-left:5px;
    margin-bottom:15px;
}

.right img{
    width:14px;
    
}
.left p{
    padding:5px;
}
.right p{
    padding:5px;
}
.footer{
    display:flex;
}
.footer img{
    padding-left:15px;
    padding-top:12px;
    height:25px;
    width:25px;
}
.footer p{
    padding-right: 6px;
}
.footer #next{
    color:white;
    text-align: left;
    padding-left: 0;
    font-weight:400;
}

hr{
    margin-top:0;
    background-color:hsl(215, 32%, 27%);
    height:1px;
    border: none;
    margin-left:15px;
    margin-right:15px;
}
p, #none{
   margin-top:0; 
}
